<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h1>Elopen</h1>
                <h4 class="lead">Elasticsearch index opener</h4>
                <p>Если вы не видете своих индексов напишите об этом нам в <a href="https://kontur.slack.com/messages/C08DRHZTP" target="_blank">#infra_support</a></p><div class="btn btn-success" style="padding: 0; width: 150px;" ng-click="init()">Обновить данные</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Доступные индексы</h4>
            <div class="well">
              <ul class="indexList">
                  <li ng-repeat="name in names" class="h6">
                      <a href="" ng-click="searchName(name)"> {{name}} </a>
                  </li>
              </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="no-data" ng-if="checkObj(dates)">
                <h5 style="text-align:center;padding-top:50px;">Тут ничего нет. Как жаль</h5>
                <h5 style="text-align:center;">¯\_(ツ)_/¯</h5>
            </div>
            <div ng-repeat="(month, indices) in dates" class="elopen-month">
                <h4>{{ month }}</h4>
                <div ng-repeat="index in indices" class="elopen-day row" style="padding: 10px">
                        <div class="index-name col-md-10">
                          <p>{{ index.index.index }}</p>
                        </div>
                        <div class="col-md-2">
                          <button type="button" disabled="true" style="padding: 0; width: 100px;" class="btn btn-success btn-xs" ng-if="index.status=='open'">Открыт</button>
                          <button type="button" class="btn btn-success btn-xs" style="padding: 0; width: 100px;" ng-if="index.status=='verifying'">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="background-color:#28a745; width:100%;height: 29px;padding: 9px;margin: 0px;" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                          </button>
                          <button type="button" class="btn btn-success btn-xs" style="padding: 0; width: 100px;" ng-if="index.status=='close'" ng-click="openCurrentIndex(index.index)">Открыть</button>
                          <button type="button" class="btn btn-danger btn-xs" style="padding: 0; width: 100px;" ng-if="index.status=='error'" ng-click="openCurrentIndex(index.index)">Ошибка</button>
                        </div>
                        <!-- <div class="day-docs col-md-4" ng-if="day.index.status=='open'">Документов: {{ day.index['docs.count'] }} ({{ day.index['pri.store.size'] }})</div> -->
                </div>
            </div>
        </div>
    </div>
</div>
