<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h2>{{ title }}</h2>
                <p class="lead">{{ description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Available indexes</h4>
            <ul class="indexList">
                <li ng-repeat="ind in indices track by $index">
                    <a href="#/index/{{ind}}">{{ ind }}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <h4>Index details</h4>
        </div>
    </div>

</div>
